@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: Karla;
}

.slideshow {
    width: 100%;
    margin: auto;
    position: relative;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
} */

/* @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.info {
    width: 60%;
    margin: auto;
    height: 12rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
    text-align: center;
}

.info p {
    font-size: 2.7rem;
    color: #445078;
    letter-spacing: 0.1rem;
}

.button2 {
    margin: auto;
    margin-top: -1rem;
    background-color: #e1dede;
    border-radius: 0.7rem;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.3rem;
}

.button2:hover {
  color: white;
  background-color:#445078;
}

@media screen and (max-width: 768px) {

  .info {
    width: 90%;
    margin-bottom: 5rem;
  }

  .button2 {
    width: 7rem;
    padding: 0.7rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1000px) {
    .info p {
        font-size: 2rem;
    }

    .button2 {
        width: 8rem;
        font-size: 1rem;
    }
    
}