@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    font-family: Karla;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.nav {
    height: 8.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #445078;
    position: relative;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255);
}

.button {
  transition: all 0.5s;
  cursor: pointer;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span a {
  position: relative;
  text-decoration: none;
  color: #445078;
}

.nav_menu .button::after,
.nav_menu .button::before {
  content: '';
  position: absolute;
  width: 97%;
  height: 2px;
  background: linear-gradient(to right, #fe6a72, #6e89c8);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.nav_menu .button::before {
  top: -5px;
  transform-origin: left;
}

.nav_menu .button:hover::after,
.nav_menu .button:hover::before {
  transform: scaleX(1);
}

.nav_menu .button span a.activated::after,
.nav_menu .button span a.activated::before {
  content: '';
  position: absolute;
  width: 97%;
  height: 2px;
  background: linear-gradient(to right, #fe6a72, #6e89c8);
  left: 0;
  transform: scaleX(1);
}

.nav_menu .button span a.activated::after {
  bottom: -5px;
  transform-origin: right;
}

.nav_menu .button span a.activated::before {
  top: -5px;
  transform-origin: left;
}

.button img{
    width: auto;
    height: 6.8rem;
    margin: auto 1rem;
    padding-left: 5rem;
}

.nav_menu ul {
    margin: auto 1rem;
    padding: 0;
    display: flex;
    padding-right: 5rem;
}

.nav_menu ul li {
    list-style: none;
}

.nav_menu ul li a {
    text-decoration: none;
    color: #445078;
    padding: 1rem;
    display: block;
    font-size: 1.6rem;
    font-family: "Poppins", serif;
    font-weight: 300;
}

.nav_hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
  margin-right: 1rem;
  cursor: pointer;
}

.nav_hamburger span {
  height: 3px;
  width: 100%;
  background-color:#445078;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#nav-links li {
    position: relative;
}


@media screen and (max-width: 768px) {
  .nav {
    padding: 0 1rem;
  }

  .button img {
    padding-left: 0;
    height: 5rem; 
  }

  .nav_menu ul {
    position: absolute;
    top: 7rem; 
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 999;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .nav_menu ul.show {
    opacity: 1;
    pointer-events: auto;
  }

  .nav_hamburger {
    display: flex;
    margin-left: auto;
    margin-right: 2rem;
  }

  .nav_hamburger span {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    padding: 0 2rem;
    justify-content: space-between;
  }

  .button img {
    padding-left: 0;
    margin-right: 3rem; 
    height: 5.5rem;
  }

  .nav_menu {
    margin-left: auto; 
  }

  .nav_menu ul {
    justify-content: center;
  }
}