@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    width: 88%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
}


.column {
    width: 33.3%;
    padding: 2rem;
    margin: 1.2rem;
    position: relative;
}

.column h2 {
    text-align: center;
    font-size: 2.1rem;
    letter-spacing: 0.1rem;
    font-family: "Poppins", serif;
    color: #445078;
    font-weight: 200;
}

.column p {
    color: black;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.column:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -0.6rem;
    width: 0.1rem;
    height: 100%;
    background-color: #737373; 
}

.logo-container {
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
}

.logo-container h2 {
    font-size: 2.1rem;
    letter-spacing: 0.1rem;
    font-family: "Poppins", serif;
    color: #445078;
    font-weight: 200;
}

.carousel-wrapper {
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-container {
  display: flex;  
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.carousel-btn {
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  color: black;
  background: none;
}


.logo {
  flex: 0 0 25%; /* 4 logos visible = 100/4 = 25% */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  max-height: 8rem;
  padding: 1rem;
  width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .column {
    flex: 1 1 0;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .column h2 {
    font-size: 1.5rem;
  }

  .column p {
    font-size: 1.2rem;
  }

  .column:not(:last-child)::after {
    height: 26rem;
  }

}


/* For mobile devices */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .column {
        width: 90%;
        margin: auto;
        padding: 1rem;
        margin-top: -5rem;
        margin-bottom: 2rem;
    }

    .column h2 {
        font-size: 1.7rem;
        text-align: center;
    }

    .column p {
        font-size: 1.2rem;
        text-align: center;
    }

    .column:not(:last-child)::after {
        display: none;
    }

    .carousel-wrapper {
      overflow: hidden;
    }

    .carousel-container {
        position: relative; /* so arrows position correctly */
        width: 100%;
    }

    .carousel-track {
      display: flex;
    }

    .logo {
      flex: 0 0 100%;        
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo img {
      max-width: 80%;
      max-height: 150px;
    }

    .carousel-btn {
    display: block; /* show arrows */
    font-size: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: black;
    cursor: pointer;
    z-index: 10;
    }

    .prev { left: -30px; }
    .next { right: -30px; }

    .logo-container {
        margin-top: -2rem;
        width: 75%;
    }

    .logo-container h2 {
        font-size: 2rem;
    }
}